/* Elements principaux de la page */

@font-face {
    font-family: 'quantifyregular';
    src: url('polices/quantify-webfont.woff2') format('woff2'),
         url('polices/quantify-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'pt_sansbold';
	src: url('polices/PTS75F-webfont.eot');
	src: url('polices/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
	url('polices/PTS75F-webfont.woff') format('woff'),
	url('polices/PTS75F-webfont.ttf') format('truetype'),
	url('polices/PTS75F-webfont.svg#pt_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}


*
{
	margin:0;
	padding:0;
 }

body {
	background: url('images/horizon-ocean.jpg') no-repeat;
	background-size: cover;
	height: 100%;
}

html body #bloc_page{
	font-family: Verdana,sans-serif;
	font-size: 15px;
	line-height: 1.5;
}


#bloc_page
{
    margin: 0;
}

section h1, section h2, footer h1, nav a, b
{
    font-family: pt_sansbold;
    font-weight: normal;
    text-transform: uppercase;
}

label, p
{
	font-family: "Open Sans",sans-serif;
	font-size: .875rem;
}

main{

}

/* Header --------------------------------------------------------------------------------------------------- */

div
{
	display: block;
}

#headerheader
{
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	background-color: #00318D;
	margin: 0;
	padding: 0;
	position: relative;

}

.containerheader
{
	width: 100%;
	margin-bottom: 0px;
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#desktop_logo
{
	margin-left: 30px;
	width: 35%;
	padding-top: 5px;
}

#desktop_logo img
{

}

#logo_img-responsive
{

	height: 50px;
}

header a
{
    font-family: pt_sansbold;
    font-weight: normal;
    margin: auto;
	font-size: 1.2em;
}

header h2
{
    font-family: pt_sansbold;
    font-size: 1.3em;
    margin-top: 0px;
    font-weight: normal;
}

h1
{
	font-family: pt_sansbold;
	font-size: 1.3em;
	margin-top: 0px;
	font-weight: normal;
}


/* Recherche --------------------------------------------------------------------------------------------------- */

#colonne2
{
	margin-top: 16px;
	width: 30%;
}

#recherche_p {

}

#searchthis #search {
	border-radius: 0px;
	background-color: #ffffff;   /* Couleur de fond */
	border-style: solid;   /* Style de la bordure  */
	border-width: 1px;   /* Epaisseur de la bordure  */
	border-color: #F1F0F0;   /* Couleur de la bordure  */
	padding: 5px 10px 5px 10px;
	width: 300px;
}




/* Login --------------------------------------------------------------------------------------------------- */

#login
{
	margin-right: 30px;
	float:right;
}

 /** Button Style **/
.button {
  /** Font Style **/
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform:uppercase;
  font-size:14px;
	color: #F1F0F0;
  text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow:rgba(0, 0, 0, 0.30) 0 -1.25px 0;

  /** Button Style **/
  display:-moz-inline-stack;
  -webkit-font-smoothing:antialiased;
	display:inline-block;
	vertical-align:middle;
	vertical-align:auto;
	zoom:1;
  margin-top: 0;
  margin-bottom: 0px;
	border:1px solid #13619f;
	background: #17469F;
	padding:11px 20px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
	border-radius:0px;

}

/** Active State Style **/
.button:hover {
	border-color:#FFFFFF;
	color:#FFFFFF;

}

.button1 {
	display: inline-block;
}

/* Navigation --------------------------------------------------------------------------------------------------- */


#navigation
{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top:  32px;
	background-color: #17469F;

}

#barre_nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ol, ul {
	margin-top: 0;
	margin-bottom: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color:  #c5c5c5;
	background-color: #17469F;
    text-align: center;
    padding: 14px 90px;
    text-decoration: none;
	border-color: black;
	-webkit-font-smoothing: antialiased;
	letter-spacing: .01rem;


}

/* Change the link color to #111 (black) on hover */
nav a:hover {
    color: #FFFFFF;
}

nav a:hover, a:focus {
	text-decoration: unset;
}


/* Inscription --------------------------------------------------------------------------------------------------- */

.blanc
{
	flex: 0 0 680px;
	-webkit-box-flex: 0;
	box-sizing: border-box;
	max-width: 680px;
	margin: 3.25rem auto;
	padding: 1.25rem;
	background-color: #fff;
	border-radius: 10px;
}

.inscription
{
	-webkit-box-pack: center;
	text-align: center;
	-webkit-justify-content: center;
	display: flex;
	-webkit-box-flex: 0;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	max-width: 430px;
	margin: 0 auto 1.25rem;
	padding-bottom: 1.25rem;
	border-bottom: 1px solid #e8e8e8;
}

#texte2
{
	max-width: 450px;
	margin: 0 auto 1.25rem;
	text-align: center;
	color: #999;
	font-size: .875rem;
	line-height: 1.5rem;
	letter-spacing: 0rem;
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
}

* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 30px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}



/* Extra styles for the cancel button */
.cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
	float: left;
	width: 50%;
}

/* Add padding to container elements */
.signup_in {
	padding: 16px;
	max-width: 430px;
	margin: 0 auto;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #474e5d;
	padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
}

.close:hover,
.close:focus {
	color: #f44336;
	cursor: pointer;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
	.cancelbtn, .signupbtn {
		width: 100%;
	}
}


.blanc2right{
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    float:left;
    width:70%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 400px;
}

.blanc2left{
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    float:right;
    width: 30%;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height:400px;
}


/* RECHERCHE --------------------------------------------------------------------------------------------------- */

#catalogue_barre
{
	padding-bottom: 10px;
	margin-bottom: 2.25rem;
	border-bottom: 1px solid #212121;
}

.wrapper_navsection {
	padding-top: 1.563rem;
}

.contenair_navsection {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1140px;
	max-width: 100%;
}

.titre_navsection {
	text-transform: uppercase;
	color: #212121;
	font-size: 1.5rem;
	margin-bottom: .5rem;
	font-weight: 700;
	line-height: 1.1;
	font-family: pt_sansbold;
	font-weight: normal;
	text-transform: uppercase;


}

#result_recherche {
	padding-top: .625rem;
	padding-left: 0;
	color: #212121;
	font-weight: 700;
	font-family: Arial,Helvetica,sans-serif;
}

#conteneur_result_recherche{
	padding-bottom: 20px;
	margin-bottom: 2.25rem;
	border-bottom: 1px solid #212121;
}

