/* Elements principaux de la page */

@font-face {
	font-family: 'quantifyregular';
	src: url('polices/quantify-webfont.woff2') format('woff2'),
	url('polices/quantify-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'pt_sansbold';
	src: url('polices/PTS75F-webfont.eot');
	src: url('polices/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
	url('polices/PTS75F-webfont.woff') format('woff'),
	url('polices/PTS75F-webfont.ttf') format('truetype'),
	url('polices/PTS75F-webfont.svg#pt_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}


* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E3E3E3;
	background-size: cover;
	height: 100%;
}



html body #bloc_page {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5;
}


#bloc_page {
	margin: 0;
}

section h1, section h2, footer h1, nav a, b {
	font-family: pt_sansbold;
	font-weight: normal;
	text-transform: uppercase;
}

label, p {
	font-family: "Open Sans", sans-serif;
	font-size: .875rem;
}

li{
	list-style-position: outside;

}
main {

}

/* Header --------------------------------------------------------------------------------------------------- */
div {
	display: block;
}

#headerheader {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #00318D;
	margin: 0;
	padding: 0;
	position: relative;

}

.containerheader {
	width: 100%;
	margin-bottom: 0px;
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#desktop_logo {
	margin-left: 50px;
	margin-right: 30px;
	padding-top: 5px;
}

#desktop_logo img {

}

#logo_img-responsive {

	height: 50px;
}

header a {
	font-family: pt_sansbold;
	font-weight: normal;
	margin: auto;
	font-size: 1.2em;
}

header h2 {
	font-family: pt_sansbold;
	font-size: 1.3em;
	margin-top: 0px;
	font-weight: normal;
}

h1 {
	font-family: pt_sansbold;
	font-size: 1.3em;
	margin-top: 0px;
	font-weight: normal;
}

body #numero_page {
	font-family: pt_sansbold;
	font-size: 17px;
	margin-top: 0px;
	font-weight: normal;
}

/* Recherche --------------------------------------------------------------------------------------------------- */
#colonne2 {
	margin: 14px 48px 0 50px;
}


#searchthis #search {
	border-radius: 0px;
	background-color: #ffffff; /* Couleur de fond */
	border-style: solid; /* Style de la bordure  */
	border-width: 1px; /* Epaisseur de la bordure  */
	border-color: #F1F0F0; /* Couleur de la bordure  */
	padding: 5px 10px 5px 10px;
	width: 300px;
}


/* Login --------------------------------------------------------------------------------------------------- */
#login {
	margin-right: 30px;
	float: right;
}

/** Button Style **/
.button {
	/** Font Style **/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #F1F0F0;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.30) 0 -1.25px 0;

	/** Button Style **/
	display: -moz-inline-stack;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
	vertical-align: auto;
	zoom: 1;
	margin-top: 0;
	margin-bottom: 0px;
	border: 1px solid #13619f;
	background: #17469F;
	padding: 11px 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;

}

/** Active State Style **/
.button:hover {
	border-color: #FFFFFF;
	color: #FFFFFF;

}

.button1 {
	display: inline-block;
}

/* Navigation --------------------------------------------------------------------------------------------------- */

.topnav {
	overflow: hidden;
}

#myTopnav{
	width: 100%;
	margin-top: 32px;
	background-color: #17469F;
	display: flex;
	justify-content: center;
}

.topnav a {
	float: left;
	display: block;
	color: #c5c5c5;
	text-align: center;
	padding: 14px 50px;
	text-decoration: none;
	font-size: 17px;
}


.topnav nav ul a:hover, a:focus {
	text-decoration: unset;
	color: #FFFFFF;
}

.active {
	color: white;
}

.topnav .icon {
	display: none;
}

@media screen and (max-width: 715px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
		color: #c5c5c5;
	}
}

@media screen and (max-width: 800px) {
	#desktop_logo{
		margin: 0 0 0 55px;
	}
}

@media screen and (max-width: 715px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	#desktop_logo{
		width: 100%;
		float: none;
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
	}

	#recherche_p {
		float: none;
		display: flex;
		justify-content: center;
	}

	#colonne2 {
		width: 100%;
		margin-top: 25px;
	}

	#login {
		width: 100%;
		float: none;
		display: flex;
		justify-content: center;
		margin: 8px 0 0 0;
		padding: 0;

	}

	#myTopnav {
		margin-top: 15px;
	}

	#assistance {
		text-align: center;
	}

	#service {
		text-align: center;
	}

	#acceuil {
		text-align: center;
	}

	#produit {
		text-align: center;
	}

}

@media screen and (max-width: 1100px) {

	#login {
		width: 100%;
		float: none;
		display: flex;
		justify-content: center;
		margin: 15px 0 0 0;
		padding: 0;

	}

}


/* Change the link color to #111 (black) on hover
nav a:hover {
	color: #FFFFFF;
}

nav a:hover, a:focus {
	text-decoration: unset;
}

#navigation {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 32px;
	background-color: #17469F;

}

#barre_nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

ol, ul {
	margin-top: 0;
	margin-bottom: 0;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: #c5c5c5;
	background-color: #17469F;
	text-align: center;
	padding: 14px 90px;
	text-decoration: none;
	border-color: black;
	-webkit-font-smoothing: antialiased;
	letter-spacing: .01rem;
}

*/


/* Inscription --------------------------------------------------------------------------------------------------- */
.blanc {
	flex: 0 0 680px;
	-webkit-box-flex: 0;
	box-sizing: border-box;
	margin: 3.25rem auto;
	padding: 2.5rem 1.25rem 2.5rem 1.25rem;
	background-color: #fff;
	border-radius: 0px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#signin{
	max-width: 680px;
}

#signup{
	max-width: 680px;
}

.inscription {
	-webkit-box-pack: center;
	text-align: center;
	-webkit-justify-content: center;
	display: flex;
	-webkit-box-flex: 0;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	max-width: 430px;
	margin: 0 auto 1.25rem;
	padding-bottom: 1.25rem;
	border-bottom: 1px solid #e8e8e8;
}

#texte2 {
	max-width: 450px;
	margin: 0 auto 1.25rem;
	text-align: center;
	color: #999;
	font-size: .875rem;
	line-height: 1.5rem;
	letter-spacing: 0rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

* {
	box-sizing: border-box
}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 30px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}


/* Extra styles for the cancel button */
.cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
	float: left;
	width: 50%;
}

/* Add padding to container elements */
.signup_in {
	padding: 16px;
	max-width: 430px;
	margin: 0 auto;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #474e5d;
	padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
}

.close:hover,
.close:focus {
	color: #f44336;
	cursor: pointer;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
	.cancelbtn, .signupbtn {
		width: 100%;
	}
}


.blanc2right {
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	float: left;
	width: 70%;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	height: 400px;
}

.blanc2left {
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	float: right;
	width: 30%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 400px;
}


/* RECHERCHE --------------------------------------------------------------------------------------------------- */
#catalogue_barre {
	padding-bottom: 10px;
	margin-bottom: 2.25rem;
	border-bottom: 1px solid #212121;
}

.wrapper_navsection {
	padding-top: 1.563rem;
}

.contenair_navsection {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
	max-width: 100%;
}

.titre_navsection {
	text-transform: uppercase;
	color: #212121;
	font-size: 1.5rem;
	margin-bottom: .5rem;
	font-weight: 700;
	line-height: 1.1;
	font-family: pt_sansbold;
	font-weight: normal;
	text-transform: uppercase;


}

#result_recherche {
	padding-top: .625rem;
	padding-left: 0;
	color: #212121;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

#conteneur_result_recherche {
	padding-bottom: 20px;
	margin-bottom: 2.25rem;
	border-bottom: 1px solid #212121;
}

/* RESPONSIVE --------------------------------------------------------------------------------------------------------*/

@media (max-width: 400px) {
	* {
		box-sizing: border-box;
	}

	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */
	body {
		width: auto;
		margin: 0;
		padding: 0;
	}

	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */
	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}

	/* conserver le ratio des images */
	img {
		height: auto;
	}

	/* gestion des mots longs */
	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}

	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}

	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
	.element1,
	.element2 {
		float: none;
		width: auto;
	}

	/* masquer les éléments superflus */
	.hide_mobile {
		display: none !important;
	}

	/* Un message personnalisé */
	body:before {
		content: "Version mobile du site";
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	}
}

/* CATALOGUE -------------------------------------------------------------------------------------------------------- */
#barre_pagination {
	background-color: #17469F;
}

#numero_page {
	font-weight: bold;
	margin: 12px;
}

body #numero_page {
	margin-top:18px;
}

#lien_catalogue a h5:hover {
	color:#DD6F1F;
	text-decoration: underline;
}

.marge-catalogue {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
	max-width: 100%;
}

/* DISPLAY -------------------------------------------------------------------------------------------------------- */


#display_produit {
	max-width: 680px;
}

#cadre_display {
	border: #EEEEEE;
	border-style: solid;
}

textarea {
	resize: vertical;
}

#bloc1 {
	display: flex;
	flex-wrap: wrap;
}

#nom-description-produit {
	width: 100%;
	margin: 16px;
	padding: 16px;
	max-width: 600px;
	margin: 0 auto;

}

#quantity {
	padding: 10px;
	margin: 5px 0 0px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	width: unset;
}


#quantité_prix {
	display: flex;
	flex-wrap: wrap;
}

#form_info #localisation {
	display: flex;
	flex-wrap: wrap;

}

#form_info {
	padding: 16px;
	max-width: 600px;
	margin: 0 auto;
}

#addbasket {
	padding: 16px;
	max-width: 600px;
	margin: 0 auto;
}

/* FOOTER --------------------------------------------------------------------------------------------------------------*/

#footer{
    background-color: #00318D;
    font-family: Gotham,Arial;


}

.nav_centered{
    width: auto;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

}

.paiement{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.li{
    list-style-type: none;
    width: 20%;
    padding: 35px 1% 0 1%;
    text-align: center;

}

.paiement_img{
    padding-top: 1px;
    height: 50px;
    width: 50px;
    float: left;

}

.paiement_text{
    color: #efebe0;
    min-height: 35px;
    padding-left: 10px;
    padding-top: 0;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    font-size: 11px;
    text-align: left;
}

#info{
    padding: 40px 0;
}

.info_taille{
    width: 30%;
}

/* Conditions et mentions légale --------------------------------------------------------------------------------------- */

.paragraphe_titre{
	font-size: 20px;
	font-weight: lighter;
	font-family: Helvetica;
	margin-top: 0;
	margin-bottom: 10px;
}

.textecdu {
	margin-bottom: 20px;
	font-size: 11px;
}

.listecdu{
	font-size: 11px;
}

/* CONTACTEZ NOUS ------------------------------------------------------------------------------------------------------ */
select {
	width: 100%;
	padding: 15px;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

#pays {
	margin: 5px 0 22px 0;
}

#remarque_contact {
	width: 100%;
	padding: 15px;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	margin: 5px 0 22px 0;
}

input[type=submit]:hover {
	background-color: #45a049;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;

}

/*---------------------------------------------------------------------------------------------------------------------*/
#global{
	margin: 0 auto 16px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
